<!DOCTYPE html>
<html>
<head>

		<script src="https://kit.fontawesome.com/fd9f59b0c7.js" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='batchstyle.css') }}">
		<style>
    a{text-decoration: none;
    color: black;
    };

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
 
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="./css/addons/datatables.min.css">
	<title>hod</title>
	<!--logo-->


</head>
<body>
  <div class="container">
    <div class="box-1">
      <h1 text align ="center" colour="red">Welcome Aravindan </h1>
      </div>
    </div>
       <div class="container">
  
         <div class="box-1">
          <h1 text align="center">WELCOME TO ATTENDANCE MANAGEMENT SYSTEM</h1>
           <h1>Welcome to the Student Attendance Management System (SAMS) at the SSN Campus, Chennai!</h1>
           <p>
           SSN Institutions, founded by Dr. Shiv Nadar, Chairman, HCL Technologies, stands out as a premier center of higher learning with a mission of pursuing excellence in education and research. The institutions, with their diverse and dynamic community of students offer a distinctive combination of some of the finest graduate, undergraduate and research programs, accomplished faculty, world class facilities and a residential campus set on a sprawling 250 acres of sylvan surroundings.</p>
         </div>
      </div>
  <div class="clr"></div>
  <br><br>
  <div class="container">
  
  <div class="categories">
  <div class="hello">
      <h1 text align="center">categories</h1>
  
      <a href="batch"><i class="fas fa-angle-double-right"></i>course wise attendance</a><br>
  
  </div>
  
  <a href="catwise"><i class="fas fa-angle-double-right"></i>CAT wise attendance&nbsp; &nbsp;</a>
  
  </div>
  <div class="clr"></div>
  
  </div>
  
  </body>
  </html>
  